/AppServer/build/
/AppServer/dist/
/AppServer/nbuild/
/AppServer/nbdist/
/AppServer/.nb-gradle/

/AppCtrlAccesEntitys/build/
/AppCtrlAccesEntitys/nbuild/
/AppCtrlAccesEntitys/nbdist/
/AppCtrlAccesEntitys/.nb-gradle/

/AppBorne/build/
/AppBorne/dist/
/AppBorne/nbuild/
/AppBorne/nbdist/
/AppBorne/.nb-gradle

/**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
